@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Plus Jakarta Sans';
    /* plus jakarta sans is fucked for some reason? */
}

#pad25 {
    padding: 0.25rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

#chat-container p, h1, h2, h3, h4{
    margin-top: 0rem;
    margin-bottom: 0.7rem;
}